@import url(../source/reset.css);
@import url(../source/fonts.css);
* {
  transition: all 0.1s ease-in;
}

body {
  background-image: url("../../assets/images/first-screen-image_light.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.wrapper {
  width: 1170px;
  display: flex;
  margin: 0 auto;
}

.title--colored {
  font-style: italic;
  color: #85BBB1;
}

.button {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F1897B;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  position: relative;
}
.button-background {
  background-color: #F1897B;
  opacity: 0.3;
  height: 13px;
  position: absolute;
  left: 8.2%;
  right: 0%;
  top: 45.83%;
  bottom: 0%;
}

.header {
  margin: 30px 0 0;
  width: 100%;
  padding: 24px 0;
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
}
.header .wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 108px;
  height: 32px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.header__nav-link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #262A3F;
  text-decoration: none;
  padding: 4px 0;
}
.header__nav-link:hover {
  border-bottom: 3px solid rgba(241, 137, 123, 0.3);
}

.join-now {
  margin: 150px 0;
}
.join-now .wrapper {
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.join-now__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.join-now__content-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
}
.join-now__content-subtitle {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
  width: 80%;
}

.statistic .wrapper {
  background-image: url(../../assets/images/statistic-image.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 670px;
  align-items: center;
  justify-content: flex-end;
}
.statistic__content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 65%;
  padding: 45px 0;
  background: #FFFFFF;
  opacity: 0.9;
}
.statistic__numbers {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.statistic__numbers__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 370px;
}
.statistic__numbers__item-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 68px;
  text-align: center;
  color: #262A3F;
}
.statistic__numbers__item-description {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #262A3F;
  opacity: 0.8;
}
.statistic__numbers .delimiter {
  background-color: #85BBB1;
  height: 1px;
  width: 100px;
}
.statistic__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}
.statistic__content__text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  color: #262A3F;
  opacity: 0.8;
}/*# sourceMappingURL=styles.css.map */