@import url(../source/reset.css);
@import url(../source/fonts.css);
@import url(../source/checkbox.css);



$light-text-color: #262A3F;
$light-accent-color: #85BBB1;
$light-button-bg-color: #f1897b;
$light-delim-colour: #E4E4E4;
$light-button-hovered: #E64F3A;
$light-bg-color: #FFFFFF;

*{
    transition: all .1s ease-in;
}

body {
    background-color: $light-bg-color;
    background-image: url("../../assets/images/first-screen-image_light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.wrapper {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

.title--colored {
    font-style: italic;
    color: $light-accent-color;
}

.button {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $light-button-bg-color;
    text-decoration: none; 
    border: 0;
    background-color: transparent;
    position: relative;

    &-background {
        background-color: $light-button-bg-color;
        opacity: 0.3;
        height: 13px;
        position: absolute;
        left: 8.2%;
        right: 0%;
        top: 45.83%;
        bottom: 0%;
    }

    &:hover &-background {
        background: $light-button-hovered;
    }

    &:hover {
        color: $light-button-bg-color;
    }

    &--bordered{
        background-color: transparent;
        padding: 35px 90px;
        border: 1px solid $light-delim-colour;
    }

    &--bordered:hover {
        border: 1px solid $light-button-hovered;
        color: $light-button-bg-color;
    }

    &--bordered:hover &-background {
        background: $light-button-hovered;
    }
}

.header {
    margin: 30px 0 0;
    width: 100%;
    padding: 24px 0;
    -webkit-backdrop-filter: blur(4.5px);
            backdrop-filter: blur(4.5px);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);

    .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &-logo {
        width: 108px;
        height: 32px;
    }

    &__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        &-link {
            font-family: 'Lato';
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.08em;
            color: $light-text-color;
            text-decoration: none;
            padding: 4px 0;

            &:hover {
                border-bottom: 3px solid rgb(241, 137, 123, 0.3);
            }
        }
    }
}


.join-now {
    margin: 150px 0;
    .wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        &-title {
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 44px;
            line-height: 52px;
            color: $light-text-color;

        }

        &-subtitle {
            font-family: 'Lato';
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            color: $light-text-color;
            width: 80%;
        }
    }
}


.statistic {
    .wrapper {
        background-image: url(../../assets/images/statistic-image.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        height: 670px;
        align-items: center;
        justify-content: flex-end;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 65%;
        padding: 45px 0;
        background: $light-bg-color;
        opacity: 0.9;
    }

    &__numbers {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 370px;

            &-title {
                font-family: 'Playfair Display';
                font-weight: 400;
                font-size: 68px;
                text-align: center;
                color: $light-text-color;
            }

            &-description {
                font-family: 'Lato';
                font-weight: 300;
                font-size: 18px;
                text-align: center;
                color: $light-text-color;
                opacity: 0.8;
            }

        }
        .delimiter {
            background-color: $light-accent-color;
            height: 1px;
            width: 100px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
        &__text {
            font-family: 'Lato';
            font-weight: 300;
            font-size: 18px;
            color: $light-text-color;
            opacity: 0.8;
            line-height: 26px;
        }    
    }

}


.advantages {
    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px 0;
        margin: 120px auto
    }

    &__item {
        width: 570px;

        &-text {
            display: flex;
            flex-direction: column;
            gap: 30px 0;
            width: 480px;
            padding: 45px;
        }

        &-title {
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 40px;
            color: $light-text-color;
        }

        &-delimiter {
            width: 570px;
            height: 1px;
            background-color: $light-delim-colour;
        }

        &-description{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            color: $light-text-color;
            opacity: 0.8;
        }
    }
}

.quote {
    .wrapper {
        background-image: url(../../assets/images/quote-background.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1170px;
        height: 400px;
    }

    &__text {
        padding: 100px 160px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;

        &-contents{
            font-family: 'Lato';
            font-weight: 400;
            font-size: 32px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            line-height: 46px;
        }

        &-by-line{
            font-family: 'Playfair Display';
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0.08em;
            color: #FFFFFF; 
        }

        .quote-icon {
            position: absolute;
            top: 80px;
            right: 950px;
        }
    }
}


.example {
    margin: 120px 0;

    .wrapper {
        width: 970px;
        flex-direction: column;
        gap: 50px;
    }

    &-video {
        cursor: pointer;
    }

    &__text-block{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;

        &-title{
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 40px;
            color: $light-text-color;
        }

        &-description {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            color: $light-text-color;
            opacity: 0.8;
            line-height: 26px;
        }
    }
}

.notion{
    .wrapper {
        background-image: url(../../assets/images/statistic-image.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        height: 540px;
        align-items: center;
        justify-content: flex-end;
        margin: 120px auto;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 65%;
        padding: 75px 0 75px 70px;
        background: $light-bg-color;
        opacity: 0.9;
        gap: 70px 100px;

    }

    &__item{   
        width: 300px;

        &-title {
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 24px;
            color: $light-text-color;
            margin-bottom: 15px;
        }

        &-description-list{
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                color: $light-text-color;
            }
        }
    }
}

.reviews {
    .wrapper {
        flex-direction: column;
        gap: 50px;
        margin: 100px  auto;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-title{
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: $light-text-color;
        }

        &-description {
            font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: $light-text-color;
        }
    }

    &__list{
        display: flex;
        flex-direction: row;
        gap: 30px;

        &-item{
            width: 370px;
            height: 340px;
            position: relative;

            &__text-block{
                background: rgba(25, 28, 41, 0.6);background: rgba(25, 28, 41, 0.6);
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 0;
                justify-content: space-between;
                padding: 30px 40px;
                height: 280px;

                &-notice, &-by-line{
                    color: #FFFFFF;
                    z-index: 2;
                }

                &-notice{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    opacity: 0.8;
                    line-height: 26px;
                }

                &-by-line{
                    font-family: 'Playfair Display';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 20px;
                    letter-spacing: 0.08em;
                }
            }
        }
    }
}


.contact {
    .wrapper{
        flex-direction: column;
        gap: 60px;
        margin: 100px auto;
    }

    .delimiter {
        background-color: $light-delim-colour;
        width: 100%;
        height: 1px;
    }

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__text-block, &__form{
            display: flex;
            flex-direction: column;
        }

        &__text-block{
            gap: 30px;

            &-title{
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                color: $light-text-color;
            }

            &-description{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 26px;
                color: $light-text-color;
            }
        }

        &__form{
            align-items: flex-start;
            gap: 40px;

            &-item{
                width: 470px;
                background-color: transparent;
                border: 0;
                padding: 12px 0;
                border-bottom: 1px solid $light-text-color;
                font-family: 'Playfair Display';
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 0.08em;
                color: $light-text-color;
                opacity: 0.5;
                max-height: 80px;
            }
        }
    }
}

.footer{
    .wrapper{
        flex-direction: column;
    }

    .delimiter {
        background-color: $light-delim-colour;
        width: 100%;
        height: 1px;
    }

    &__content, &__content__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        &__wrapper {
            gap: 30px;
        }
    }

    &__content {
        margin: 30px 0;
        &-item {
            font-family: 'Lato';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.08em;
            color: $light-text-color;

            &--lighter{
                font-weight: 300;
                line-height: 26px;
                opacity: 0.6;
            }

            &-link {
                text-decoration: none;
                color: $light-text-color;
            }
        }
    }

}

html.dark {
    $light-text-color: #FFFFFF;
    $light-accent-color: #689FF2;
    $light-button-bg-color: #53F3CD;
    $light-delim-colour: #515773;
    $light-button-hovered: #02E0AB;
    $light-bg-color: #161926;

    body {  
        background-color: $light-bg-color;
        background-image: url("../../assets/images/first-screen-image_dark.png");
    }

    .title--colored {
        color: $light-accent-color;
    }
    
    .button {
        color: $light-button-bg-color;
        &-background {
            background-color: $light-button-bg-color;
        }
    
        &:hover &-background {
            background: $light-button-hovered;
        }
    
        &:hover {
            color: $light-button-bg-color;
        }
    
        &--bordered{
            border: 1px solid $light-delim-colour;
        }
    
        &--bordered:hover {
            border: 1px solid $light-button-hovered;
            color: $light-button-bg-color;
        }
    
        &--bordered:hover &-background {
            background: $light-button-hovered;
        }
    }
    
    .header {
        &__nav {
            &-link {
                color: $light-text-color;
            }
        }
    }
    
    
    .join-now {
        &__content {
    
            &-title {
                color: $light-text-color;
    
            }
    
            &-subtitle {
                color: $light-text-color;
            }
        }
    }
    
    
    .statistic {
        &__content-wrapper {
            background: $light-bg-color;
        }
    
        &__numbers {
            &__item {
                &-title {
                    color: $light-text-color;
                }
    
                &-description {
                    color: $light-text-color;
                }
            }
            .delimiter {
                background-color: $light-accent-color;
            }
        }
    
        &__content {
            &__text {
                color: $light-text-color;
            }    
        }
    
    }
    
    
    .advantages {
    
        &__item {

            &-title {
                color: $light-text-color;
            }
    
            &-delimiter {
                background-color: $light-delim-colour;
            }
    
            &-description{
                color: $light-text-color;
            }
        }
    }
    
    
    .example {


    
        &__text-block{

    
            &-title{

                color: $light-text-color;
            }
    
            &-description {
  
                color: $light-text-color;

            }
        }
    }
    
    .notion{

        &__content-wrapper {

            background: $light-bg-color;

    
        }
    
        &__item{   
    
            &-title {

                color: $light-text-color;

            }
    
            &-description-list{

                li {
                    color: $light-text-color;
                }
            }
        }
    }
    
    .reviews {
        &__text-block {
            &-title{
                color: $light-text-color;
            }

            &-description {
                color: $light-text-color;
            }
        }
    
    
    }
    
    
    .contact {

    
        .delimiter {
            background-color: $light-delim-colour;

        }
    
        &__content{

    
            &__text-block{

    
                &-title{

                    color: $light-text-color;
                }
    
                &-description{

                    color: $light-text-color;
                }
            }
    
            &__form{
 
                &-item{

                    border-bottom: 1px solid $light-text-color;
 
                    color: $light-text-color;

                }
            }
        }
    }
    
    .footer{
        .delimiter {
            background-color: $light-delim-colour;

        }
        &__content {

            &-item {
                color: $light-text-color;
                &-link {
                    color: $light-text-color;
                }
            }
        }
    
    }
}